<header>
    <section>
    
      <h1>Particle Gamification</h1>
      <div class="info-icon" matTooltip="Rules: 
      1. Click on particles to gain points.
      2. Reach 10 points within 1 minute to win.
      3. If time runs out, try again!"
      matTooltipPosition="above">
      <i class="material-icons">info</i>
    </div>
      <h2>Score: <span id="score">0</span></h2>
      
      <h3 id="timer">Time Left: 60s</h3>
      <h3 id="bestTime">Best Time: N/A</h3>
      <button id="startButton">Start Game</button>
      <h3 id="gameMessage"></h3>
    </section>
    <canvas id="particleCanvas"></canvas>
  </header>
  