header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #28313b, #485461);
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
  }
  
  header canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  header section {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  
  #startButton, #endGame{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  #startButton:hover, #endGame:hover {
    background-color: #feb47b;
  }

  
  
  #gameMessage {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #ff7e5f;
    font-weight: bold;
  }
  .game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .info-icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
  }
  
  .info-icon:hover {
    color: #ff7e5f;
  }
  
  .exit-button {
    background-color: #ff7e5f;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .exit-button:hover {
    background-color: #feb47b;
  }
  