<!-- <div> -->
    <nav>
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>    
    <header>
        <section >  
            <h1>Shubham Banne</h1>
            <h2>Dynamic UI/ Frontend Developer</h2>
            <h3>Creating scalable, responsive, and user-centric web applications.</h3>
        </section>
    </header>
    <main>
        <section id="about">
            <h1>About Me</h1>
            <p>I am Shubham Banne, a dynamic UI Developer with over 2 years of professional experience in designing and deploying scalable web applications. With expertise in Angular, JavaScript, HTML, and CSS, I specialize in creating responsive, user-centric interfaces that enhance engagement and performance. My passion lies in blending creativity and technology to deliver seamless digital experiences.</p>
        </section>
        <section id="skills">
            <h1>List Of Skills</h1>
            <ol>
                <li><h4>Programming Languages:</h4>Angular, JavaScript, HTML, CSS, Node.js</li>
                <li><h4>Database Management:</h4>PostgreSQL</li>
                <li><h4>Technologies & Tools:</h4>RESTful APIs, Git, GitHub, Postman, VS Code</li>
            </ol>
        </section>
        <section id="experience">
           <h1>Professional Experience</h1>
           
           <table>
            <tr>
                <th>Company Name: </th>
                <td>Infosys Ltd., Pune</td>
            </tr>
            <tr>
                <th>Role: </th>
                <td>PEAN Stack Developer</td>
            </tr>
            <tr>
                <th>Duration:</th>
                <td>Apr 2022 – Present</td>
            </tr>
           </table>
           <h2>Responsibilities:</h2>
           <ol>
            <li>Spearheaded full lifecycle development of web applications using Angular and Node.js, improving user engagement by 20%.</li>
            <li>Optimized application performance, reducing load times by 30%.</li>
            <li>Integrated third-party APIs and conducted thorough code reviews to maintain quality standards.</li>
            <li>Designed and implemented responsive UI components for consistent experiences across devices.</li>
            <li>Diagnosed and resolved complex technical issues to ensure enhanced user satisfaction</li>
           </ol>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <dl>
                <dt>Tractor-Dealer</dt>
                <dd>Developed a localhost website to facilitate the sale of second-hand tractors, streamlining inventory management and sales.</dd>
                <dd>Designed interactive dynamic forms and a document management system, allowing owners to download paperwork seamlessly.</dd>
            </dl>
            <dl>
                <dt>Water-DO-Analyser</dt>
                <dd>Engineered an application to capture water quality data (pH, temperature, dissolved oxygen) from an Arduino device installed in a pond.</dd>
                <dd>Developed a dashboard to visualize water parameter patterns using both tabular data and line charts.</dd>
            </dl>
        </section>
        <section id="Education">
            <h1>Education</h1>
            <br>
            <table>
                <tr>
                    <th>Degree:</th>
                    <td>Bachelor of Technology</td>
                    <th>Graduation Date:</th>
                    <td>June 2020 </td>
                    
                </tr>
                <tr>
                    <th>Institution:</th>
                    <td>D.K.T.E’s Textile and Engineering Institute, Ichalkaranji, Maharashtra, India</td>
                    <th>GPA:</th>
                    <td>6.92/10</td>
                </tr> 
            </table>
            <br>
        </section>
        <section>
            <h1>Certification</h1>
            <table>
                <dl>
                    <dt>Infosys Certified Angular Associate</dt>
                    <dd>Score: 89/100</dd>
                    <dt>Infosys Certified Python Associate</dt>
                    <dd>Score: 75/100  </dd>
                    <dt>Post Graduate Diploma in IPR (Intellectual Property Rights)</dt>
                </dl>
            </table>
        </section>
        <section>
            <h1>Publications</h1>
            <dl>
                <dt>Research Paper:</dt>
                <dd>Design and Impact of Fixed Automation for Billet Loading” – Published in IRJET</dd>
                <dd>Cybersquatting: A Comprehensive Analysis of Definition, Facets, and Statistical Trends” – Published in IRJAMT</dd>
                <dt>Patent:</dt>
                <dd>Portable Biogas Plant for Home Use (Patent Number: 390404-001)</dd>
            </dl>
        </section>
    </main> 
    <footer>
        <section id="contact">
            <h1>Get in Touch</h1>
            <table>
                <tr>
                    <th>
                        Email
                    </th>
                    <td>
                        {{EmailID}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Phone
                    </th>
                    <td>
                        {{phoneNo}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Location
                    </th>
                    <td>
                        {{location}}
                    </td>
                </tr>
                <tr>
                    <th>
                        LinkedIn
                    </th>
                    <td>
                        {{linkedInProfile}}
                    </td>
                </tr>
                <tr>
                    <th>
                        GitHub
                    </th>
                    <td>
                        {{gitHubProfile}}
                    </td>
                </tr>
            </table>
            <div class="footer-content">
                <p>&copy; 2025 Shubham Banne. All rights reserved.</p>
            </div>
            
        </section>
    </footer>
    
<!-- </div> -->